---
import Timeline from "../../components/Timeline.astro";
import Typography from "../../components/Typography.astro";

import { experienceEvents } from "../../data/experience"
---

<section id="experience" class="w-full max-w-screen-lg flex flex-col gap-8">
  <Typography variant="title">Experiencia laboral</Typography>
  <Timeline events={experienceEvents} />
</section>
