---
import Section from "./Section.astro";
import Timeline from "../../components/Timeline.astro";

import { experienceEvents } from "../../data/experience";
---

<Section id="experience" title="Experiencia laboral">
  <Timeline events={experienceEvents} />
</Section>
