---
import Markdown from "../Markdown.astro";
import Section from "./Section.astro";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<Section id="formation" title="Educación" class={className}>
  <Markdown class:list={["prose-xs"]}>
    {`contenido`}
  </Markdown>
</Section>
