---
interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div
  id="about-me"
  class:list={[
    "relative w-full flex flex-col items-center justify-center gap-8",
    className,
  ]}
>
  <div class="container flex flex-col py-32">
    <span class="font-hero text-3xl">Work</span>
    <h1 class="font-hero text-7xl text-primary uppercase">In progress</h1>
    <p class="font-main text-surface-700">
      consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
      dolore magna aliqua.
    </p>
  </div>
</div>
