---
import Typography from "../Typography.astro";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div
  id="about-me"
  class:list={[
    "relative w-full flex flex-col items-center justify-center gap-8",
    className,
  ]}
>
  <div class="container flex items-center py-32">
    <Typography variant="hero" class="basis-1/2"
      >Ingeniero en computacion</Typography
    >
  </div>
</div>
