---

---

<div id="skills" class="relative w-full h-[100vh] flex flex-col items-center justify-center gap-8">
  <img
    src="/assets/code-background.png"
    class="w-full h-full object-cover blur-sm [mask-image:linear-gradient(black,_transparent)]"
  />
  <div class="absolute container flex items-center">
    <h1 class="basis-1/2 font-hero text-7xl font-black text-balance">Soy desarrollador web</h1>
  </div>
</div>
