---
import Typography from "../Typography.astro";
---

<div
  id="about-me"
  class="relative w-full flex flex-col items-center justify-center gap-8"
>
  <div class="container flex items-center">
    <Typography variant="hero" class="basis-1/2"
      >Ingeniero en computacion</Typography
    >
  </div>
</div>
