---
import Typography from "../Typography.astro";
---

<section id="skills" class="w-full max-w-screen-lg flex flex-col gap-8">
  <Typography variant="title">Proyectos</Typography>
  <div class="grid grid-cols-8 gap-4">Hola</div>
</section>
