---
import { projects } from "../../data/projects";
import ProjectCard from "../cards/ProjectCard.astro";
import Section from "./Section.astro";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<Section id="projects" title="Proyectos" class={className}>
  <div
    class="grid grid-cols-[repeat(auto-fill,minmax(min(25rem,50vw),1fr))] gap-6"
  >
    {projects.map((project) => <ProjectCard {...project} />)}
  </div>
</Section>
