---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Paul Garcia | paul2g">
  <main>
    <div class="w-full h-screen flex items-center justify-center p-2">
      <p class="text-2xl">Hola, este seria mi Portafolio, algun dia jsjsjs</p>
    </div>
  </main>
</Layout>
