---
import Layout from "../layouts/Layout.astro";

import HeroSection from "../components/sections/HeroSection.astro";
import ExperienceSection from "../components/sections/ExperienceSection.astro";
import ProjectsSection from "../components/sections/ProjectsSection.astro";
import TechnologiesSection from "../components/sections/TechnologiesSection.astro";
---

<Layout title="Paul Garcia | paul2g">
  <div class="bg-surface-50 w-full flex flex-col items-center gap-16 px-4 pb-16">
    <HeroSection />
    <ExperienceSection />
    <ProjectsSection />
    <TechnologiesSection />
  </div>
</Layout>
