---
import Layout from "../layouts/Layout.astro";

import HeroSection from "../components/sections/HeroSection.astro";
import ExperienceSection from "../components/sections/ExperienceSection.astro";
import TechnologiesSection from "../components/sections/TechnologiesSection.astro";
import ProjectsSection from "../components/sections/ProjectsSection.astro";
---

<Layout title="Paul Garcia | paul2g">
  <div class="w-full flex flex-col items-center gap-8 px-4 py-16">
    <HeroSection />
    <ExperienceSection />
    <TechnologiesSection />
    <ProjectsSection />
  </div>
</Layout>
