---
import Layout from "../layouts/Layout.astro";

import ExperienceSection from "../components/sections/ExperienceSection.astro";
import TechnologiesSection from "../components/sections/TechnologiesSection.astro";
---

<Layout title="Paul Garcia | paul2g">
  <div class="w-full flex flex-col items-center gap-8 px-4 py-8">
    <ExperienceSection />
    <TechnologiesSection />
  </div>
</Layout>
