---
import Modal from "../components/Modal.astro";
import ExperienceSection from "../components/sections/ExperienceSection.astro";
import HeroSection from "../components/sections/HeroSection.astro";
import ProjectsSection from "../components/sections/ProjectsSection.astro";
import TechnologiesSection from "../components/sections/TechnologiesSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Paul Garcia | paul2g">
  <div class="w-full flex flex-col items-center mb-24">
    <HeroSection />
    <ExperienceSection class="max-w-screen-lg pt-16" />
    <ProjectsSection class="max-w-screen-lg pt-16" />
    <TechnologiesSection class="max-w-screen-lg pt-16" />
  </div>
</Layout>
