---
import { socialAccounts } from "@/data/misc";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<footer
  class={`w-full flex justify-center bg-surface-950 text-surface-50 border-t-2 border-t-surface-950 ${className}`}
>
  <div class="container w-full flex justify-center gap-2 px-4 py-8">
    {
      socialAccounts.map(({ name, url, icon }) => (
        <a
          href={url}
          target="_blank"
          class="group hover:text-primary-200 after:content-['|'] last:after:content-['']"
        >
          <i class={icon} />
          <span> {name} </span>
        </a>
      ))
    }
  </div>
</footer>
