---
interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<footer class={`sticky top-0 w-full flex justify-center px-4 text-contrast ${className}`}>
  <div class="w-full flex justify-between">
    <div class="flex items-center gap-6">footer</div>
  </div>
</footer>
