---
import { headerMenuItems } from "../data/navigation";
import Card from "./cards/Card.astro";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<header
  id="header"
  class="sticky inset-0 z-[100] max-w-screen-xl mx-auto p-2 bg-transparent sm:p-4"
>
  <Card>
    <div class="container flex justify-between">
      <div class="flex items-streetch">
        <div class="transition-colors hover:text-primary p-4 sm:p-6">
          <a href="#" class="h-full w-full flex items-center">
            <h1 class="text-2xl font-black">paul2g.dev</h1>
          </a>
        </div>
        <nav class="max-sm:hidden">
          <ul class="ps-6 h-full flex gap-6">
            {
              headerMenuItems.map((item) => (
                <li class="h-full w-full flex items-center">
                  <a
                    href={item.to}
                    class:list={[
                      "group text-sm font-semibold px-3 py-1 rounded-md border-2 border-transparent shadow-transparent shadow-[0.2rem_0.2rem]",
                      "transition-all hover:bg-[var(--color)] hover:border-surface-1000 hover:text-surface-1000 hover:shadow-surface-800",
                    ]}
                    style={{ "--color": item.linkColor }}
                  >
                    {item.label}
                  </a>
                </li>
              ))
            }
          </ul>
        </nav>
      </div>
      <!--<div class="flex items-center gap-1">-->
      <!--  <span> (y) </span>-->
      <!--</div>-->
    </div>
  </Card>
</header>

<script>
  import { headerMenuItems } from "@/data/navigation";
  import { debounce, isInViewport } from "@/utils";

  const header = document.getElementById("header");

  // Get sections
  const sections = headerMenuItems.map((item) =>
    document.querySelector(item.to),
  );

  const highlightElement = debounce(function () {
    const sectionInViewport = sections.find((section) =>
      isInViewport(section, false),
    );
    if (!sectionInViewport?.id) return;

    sections.forEach((section) => {
      const navLink = document.querySelector(`a[href='#${section?.id}']`);
      navLink?.classList?.remove(
        "bg-[var(--color)]",
        "!text-surface-1000",
        "!border-2",
        "!border-surface-1000",
      );
    });

    const navLink = document.querySelector(
      `a[href='#${sectionInViewport?.id}']`,
    );
    navLink?.classList?.add(
      "bg-[var(--color)]",
      "!text-surface-1000",
      "!border-2",
      "!border-surface-1000",
    );
  }, 30);

  window.addEventListener("scroll", highlightElement);
</script>
