---
import Card from "./cards/Card.astro";
---

<div class="fixed inset-0 z-[9999] flex justify-center items-center">
  <div class="absolute inset-0 bg-modal"></div>
  <Card class="w-full z-10 max-w-screen-lg h-2/5">
    <slot />
  </Card>
</div>
