---
import type { ITechnology } from "../types";
import Card from "./Card.astro";
import TechIcon from "./TechIcon.astro";

type Props = ITechnology;

const { name, docsUrl, color } = Astro.props;
---

<Card
  class:list={["group/tech-card relative !aspect-square p-6 overflow-hidden"]}
>
  <a href={docsUrl} target="_blank">
    <TechIcon name={name} class:list={["aspect-square"]} />
  </a>
  <div
    class:list={[
      "hidden absolute bottom-0 left-0 z-10 w-full translate-y-[100%] transition-all group-hover/tech-card:translate-y-0",
      "text-center bg-accent-500/20",
    ]}
  >
    {name}
  </div>
</Card>
