---
import type { IExperienceEvent } from "../types";

import EventCard from "./cards/EventCard.astro";

interface Props {
  events: Array<IExperienceEvent>;
  class?: string;
  cardClass?: string;
}

const { events, class: className, cardClass } = Astro.props;
---

<div class:list={["flex flex-col", className]}>
  {
    events.map((event) => (
      <article class="group/event cursor-pointer flex gap-2">
        <div class="flex flex-col items-center">
          <div
            class="size-5 bg-surface-200 border-2 rounded-md border-surface-950 group-hover/event:bg-[var(--color)]"
            style={{ "--color": event.cardColor }}
          />
          <div class="grow w-px border border-surface-700 border-dashed group-last/event:hidden" />
        </div>
        <EventCard class:list={["grow", cardClass]} {...event} />
      </article>
    ))
  }
</div>
